.App {
  text-align: center;
    height:100%;
    width:100%;
    align-items: center;
}
.page{
    text-align: left;
    margin:1%;
    padding:1%;
}
.list{
    margin:1%;
    padding:1%;
    border: 1px solid blue;
}
.list-item{
    margin: 0.5%;
    border: 1px solid red;
}
.add-item{
    border: 1px solid black;
}


/* ================================================ */
.box{
  text-align: left;
  border: 1px solid black;
  margin: 20px;
  padding: 5px;
  padding-bottom: 5px;
}
.grandparent{
  padding: 10px;
  padding-bottom: 5px;
}
.parent{
  padding: 10px;
  margin-left: 10px;
}
.child{
  padding: 10px;
  margin-left: 10px;
}
.grandchild{
  padding: 10px;
  margin-left: 10px;
  margin-bottom: 5px;
}

.title{
  display: block;
  border: 1px solid red;
  float: left;
  padding: 5px;
  border-left: none;
  border-top: none;
}
.detail{
  display: block;
  border: 1px solid BLUE;
  float: left;
  padding: 5px;
  margin-left: 5px;
  border-left: none;
  border-top: none;
}
